body{
    background-image: url("./bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.main{
    border: 2px solid;
    width: 1300px;
    height: 800px;
    display: flex;
    margin-top: 50px;
    border-style: none; 

}
.first{
   border: 1px solid;
   width: 500px;
   height: 300px;
   margin-top: 135px;
   margin-left: 30px;
   color: aliceblue;
   font-family: sans-serif;
   /* text-align: center; */
   padding: 90px;
    border-style: none; 

}
.fb{
    width: 40px;
    height: 40px;
    padding: 4px;
}
.linkedin{
    width: 40px;
    height: 40px;
    padding: 5px;

}
.insta{
    width: 40px;
    height: 40px;
    padding: 4px;

}
.whatsapp{
    width: 40px;
    height: 40px;
    padding: 4px;

}
.github{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.second{

    border: 1px solid;
    border: 1px solid;
    width: 600px;
    height: 600px;
    margin-left: 60px;
    margin-top: 70px;
    border-style: none; 

}
button{
    border-radius: 10px;
    background-color: slategray;
    color: azure;
}
button:hover{
    color: black;
}

.avator{
    width: 400px;
    height: 400px;
    margin-left: 70px;
}